@{
    ViewBag.Title = "Erreur";
}
<style>
    .form-horizontal {
     
        background-color: white;
        border: 1px solid #ddd;
        padding: 50px;
        margin-top: 80px;
        font-size:30px;
    }
</style>
    <h2>@ViewBag.Title</h2>
<div>
    <div class="form-horizontal text-center">
        <p>
            Les informations sont fausses .
        </p>
    </div>
</div>

