@{
    ViewBag.Title = "Réinitialisation du mot de passe  réussie";
}
<style>
    .reset-pass-confirm{
        background-color:white;
                        padding:30px;
                        border:1px solid #ddd;
                        text-align:center;
                        font-size:20px;
    }
</style>
<hgroup class="title">
    <h1 class="text-center">@ViewBag.Title</h1>
</hgroup>
<div class="reset-pass-confirm">
    <p>
        Réinitialisation du mot de passe  réussie. Cliquez @Html.ActionLink("ici", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) pour vous connecter .
    </p>
</div>
